
body {
    font-family: Arial, sans-serif; 
    background-color: #82dabf;     
    display: flex;                  
    justify-content: center;       
    align-items: center;            
    height: 100vh;                 
    margin: 0;
}

.contenedor {
    background-color: white;
    padding: 25px;
    border-radius: 8px;            
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 280px;                  
    text-align: center;           
}


label {
    display: block;               
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #333;
}


input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}


input[readonly] {
    background-color: #e9ecef;     
    color: #495057;
    font-weight: bold;
}

button {
    margin-top: 15px;
    width: 96%;
    padding: 10px;
    background-color:rgb(238, 206, 159);    
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;               
}